TELEGRAM_BOT_TOKEN=pon_aqui_el_token_de_botfather
TELEGRAM_CHAT_ID=pon_aqui_tu_chat_id
TWELVE_DATA_API_KEY=pon_aqui_tu_api_key
MIN_SCORE_TO_ALERT=4
ALERT_COOLDOWN_SECONDS=180
NO_CANDLE_RETRY_SECONDS=300
MAX_SIGNAL_AGE_SECONDS=180
TWELVE_DATA_POLL_SECONDS=60
